<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='static/style.css') }}">
        <title>Product Analysis</title>
    </head>


    <body>
        <h2 class="heading">Sentiment Based Recommendation System</h2> <br><br>
        <div>
            <form method='post' action='/'>
                <label for="name">Please enter the username (Example:02deuce)</label>
                <input type="text" id="name" name="username">  
                <input type="Submit" class="btn" value="Submit">
            </form>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
